.serviceForm {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#submitRequest {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(227, 72, 72);
    color: lightgoldenrodyellow;
    font-size: 1.2rem;
}

.field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 500px;
    padding: 10px;
}

input[name="serviceDescription"] {
    height:4rem;
}

label {
    display: inline-block;
    clear: left;
    width: 150px;
    text-align: right;
    padding: 10px;
}

input {
    width: 250px;
    display: inline-block;
}